<!DOCTYPE html> 
<html> 
  
<head> 
        <!-- Including the bootstrap CDN -->
        <link rel="stylesheet" href= 
        "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
            <script src= 
        "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> 
            </script> 
            <script src= 
        "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"> 
            </script> 
            <script src= 
        "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"> 
            </script> 
            <style> 
                .navbar-nav { 
                    margin-left: auto; 
                }
                a.nav-item.nav-link{
                    color: rgba(255,255,255,.75);
                } 
                
                body {
    background-image: url("../../assets/images/maxresdefault.jpg");
    background-size: auto;
  }
            </style> 
        </head> 
          
        <body> 
  
<!-- guest nav -->
<nav class="navbar navbar-expand navbar-dark" *ngIf="!user">
     <a class="nav-item nav-link" routerLink="/">Home</a> <!--Storefront for guest and user-->
        <!-- <a class="nav-item nav-link" routerLink="/products" routerLinkActive="active">Products</a> 
        -->      
    <ul class="navbar-nav ml-auto">
        <a routerLink="/cart" class="nav-item nav-link">Cart</a>
        <a class="nav-item nav-link" routerLink="/login">Login</a>
        <a class="nav-item nav-link" routerLink="/register">Register</a>
    </ul>
</nav>


<!-- nav -->
<nav class="navbar navbar-expand navbar-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Profile</a>
        <a class="nav-item nav-link" routerLink="/cart" >Cart</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
        <a class="nav-item nav-link" routerLink="/users" *ngIf="isAdmin">Users</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
        </body>
                <footer class="text-center mt-4">(C) Teorkis's Magique Bazaar</footer>
</html>